{% extends 'base.html.twig' %}

{% block title %}

 SymRecipe - Accueil

{% endblock %}

{% block body %}

	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenu sur SymRecipe</h1>
			<p class="lead">SymRecipe est une application qui va te permettre de creer des recette a base d'ingredients
			que tu auras toi-meme creer. Tu pourras partager tes recettes a la communaute du site , ou les garder en privees.
			</p>
			<hr class="my-4">
			<p>
			Pour commencer rendez-vous sur la page d'inscription  pour utiliser l'application.
			</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
			</p>
		</div>
	</div>
 {# <p> Je suis un paragraphe </h1> #}

{% endblock %}

